<div class="page-title">
    <h2>About</h2>
</div>

<h3>URL Parameters</h3>
<table>
    <thead>
        <th>Option</th>
        <th>Syntax</th>
    </thead>
    <tbody>
        <tr>
            <td>resize</td>
            <td>size=960x540</td>
        </tr>
        <tr>
            <td>grayscale</td>
            <td>color=gray or mode=gray</td>
        </tr>
        <tr>
            <td>format</td>
            <td>format=png</td>
        </tr>
        <tr>
            <td>include date</td>
            <td>date=true</td>
        </tr>
        <tr>
            <td>orientation</td>
            <td>orientation=landscape or orientation=portrait</td>
        </tr>
    </tbody>
</table>

<h3>How to Get an Image</h3>
<p>
    To get an image from today in history and default to any day if none were taken today in history, go to <a href="<%= Web.routes.path(:todayOrRandom) %>"><%= Web.routes.url(:todayOrRandom) %></a>
</p>

<p>
    Get random image and resize to 960x540 in grayscale with the date taken: <a href="<%= Web.routes.path(:todayOrRandom) %>?size=960x540&color=gray&date=true"><%= Web.routes.url(:todayOrRandom) %>?size=960x540&color=gray&date=true</a>
</p>

<h3>How to Add Directories</h3>
<p>
    To add directories, add them to (or symlink them in) <code>public/assets/sync/</code>.  Then go to the <a href="<%= Web.routes.path(:directoryIndex) %>">Directories</a> page to sync the added directories into the system.  Once directories are synced, you can ignore directories and sync images in the directories you choose.
</p>
