<div class="page-title">
    <h2>PhotoMem</h2>
</div>

<% if images.any? %>
    <p>Synced image count: <%= images.count %></p>
    <p>Images taken this day in history: <%= today.count %></p>

    <% if today.any? %>
        <h3>Images Taken Today</h3>

        <table>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <%
                path = nil
                count = 0
                today.each do |img|
                    pathWithoutFileName = img.directory.path
                    if path != pathWithoutFileName
                        if !path.nil? %>
                            <tr>
                                <td><%= path %></td>
                                <td><%= count %></td>
                            </tr>
                            <hr>
                        <% end
                        path = pathWithoutFileName
                        count = 0
                    end
                    count += 1
                end
                if !path.nil? %>
                    <tr>
                        <td><%= path %></td>
                        <td><%= count %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<% else %>
    <p class="placeholder">There are no images synced yet. Visit <a href="<%= Web.routes.path(:directoryIndex) %>">Directories</a> to sync directories.</p>
<% end %>
