<div class="page-title">
    <h2>Directories</h2>
</div>

<div class="row">
    <div class="synced-status">
        <div class="status-item" title="total directories">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
            </svg>
            <%= directories.count %>
        </div>
        <div class="status-item" title="directories synced">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
            <%= directories.count { |dir| dir.status == 'synced' } %>
        </div>
        <div class="status-item" title="directories ignored">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
            <%= directories.count { |dir| dir.status == 'ignored' } %>
        </div>
        <div class="status-item" title="images synched">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <%= image_count %>
        </div>
    </div>

    <div class="actions">
        <button class="button" onclick="runSync('<%= Web.routes.path(:directorySync) %>')" title="syncs all directories (no images)">Sync Directories</button>
    </div>
</div>

<div class="directories">
    <% if directories.any? %>
        <% directories.each do |directory| %>
            <div class="directory-row <%= directory.status == 'ignored' ? 'disabled' : '' %>" style="margin-left: <%= directory.path.count('/') %>rem">
                <p>
                    <strong>Path:</strong> <%= directory.path %> <br>
                    <strong>Status:</strong> <%= directory.status %> <br>
                    <% if directory.status == 'synced' %>
                        <strong>Count:</strong> <%= directory.imageCount %> <br>
                    <% end %>
                </p>
                <% if directory.status != 'ignored' %>
                    <button class="button" onclick="runSync('<%= Web.routes.path(:directorySyncImages, id: directory.id) %>')" title="syncs images in this directory and all child directories"><%= directory.status == 'synced' ? 'Resync' : 'Sync' %></button>
                    <button class="button button-danger" href="" onclick="ignoreDirectory('<%= Web.routes.path(:directoryUpdate, id: directory.id) %>' )" title="removes all images from this directory and all child directories">Ignore</button>
                <% else %>
                    <button class="button" onclick="runSync('<%= Web.routes.path(:directorySyncImages, id: directory.id) %>')" title="unignore this directory and ignored parent directories">Sync</button>
                <% end %>
            </div>
            <hr>
        <% end %>
    <% end %>
</div>
