<div class="page-title">
    <h2>Directories</h2>
</div>

<div class="row">
    <div class="synced-status">
        <div class="status-item" title="total directories">
            <img src="assets/directory.svg"> <%= directories.count %>
        </div>
        <div class="status-item" title="directories synced">
            <img src="assets/directory-open.svg"> <%= directories.count { |dir| dir.status == 'synced' } %>
        </div>
        <div class="status-item" title="directories ignored">
            <img src="assets/directory-x.svg"> <%= directories.count { |dir| dir.status == 'ignored' } %>
        </div>
        <div class="status-item" title="images synched">
            <img src="assets/image.svg"> <%= image_count %>
        </div>
    </div>

    <div class="actions">
        <button class="button" onclick="runSync('<%= Web.routes.path(:directorySync) %>')" title="syncs all directories (no images)">Sync Directories</button>
    </div>
</div>

<div class="directories">
    <% if directories.any? %>
        <% directories.each do |directory| %>
            <div class="directory-row <%= directory.status == 'ignored' ? 'disabled' : '' %>" style="margin-left: <%= directory.path.count('/') %>rem">
                <p>
                    <strong>Path:</strong> <%= directory.path %> <br>
                    <strong>Status:</strong> <%= directory.status %> <br>
                    <% if directory.status == 'synced' %>
                        <strong>Count:</strong> <%= directory.imageCount %> <br>
                    <% end %>
                </p>
                <% if directory.status != 'ignored' %>
                    <button class="button" onclick="runSync('<%= Web.routes.path(:directorySyncImages, id: directory.id) %>')" title="syncs images in this directory and all child directories"><%= directory.status == 'synced' ? 'Resync' : 'Sync' %></button>
                    <button class="button button-danger" href="" onclick="ignoreDirectory('<%= Web.routes.path(:directoryUpdate, id: directory.id) %>' )" title="removes all images from this directory and all child directories">Ignore</button>
                <% else %>
                    <button class="button" onclick="runSync('<%= Web.routes.path(:directorySyncImages, id: directory.id) %>')" title="unignore this directory and ignored parent directories">Sync</button>
                <% end %>
            </div>
            <hr>
        <% end %>
    <% end %>
</div>
