<h2 style="display: inline-block;">Synced Image Details</h2>

<a class="button" href="/images/sync">Run Sync</a>

<% if images.any? %>
    <p>Synced image count: <%= images.count %></p>
    <p>Images taken this day in history: <%= today.count %></p>

    <h3>How to Get an Image</h3>
    <p>
        To get an image from today in history and default to any day if none were taken today in history, go to <a href="<%= Web.routes.path(:todayOrRandom) %>"><%= Web.routes.url(:todayOrRandom) %></a>
    </p>

    <h4>Options</h4>
    <table>
        <thead>
            <th>Option</th>
            <th>Syntax</th>
        </thead>
        <tbody>
            <tr>
                <td>resize</td>
                <td>size=960x540</td>
            </tr>
            <tr>
                <td>grayscale</td>
                <td>color=gray or mode=gray</td>
            </tr>
            <tr>
                <td>format</td>
                <td>format=png</td>
            </tr>
            <tr>
                <td>include date</td>
                <td>date=true</td>
            </tr>
        </tbody>
    </table>

    <p>
        Get random image and resize to 960x540 in grayscale with the date taken: <a href="<%= Web.routes.path(:todayOrRandom) %>?size=960x540&color=gray&date=true"><%= Web.routes.url(:todayOrRandom) %>?size=960x540&color=gray&date=true</a>
    </p>

    <% if today.any? %>
        <h3>Paths and Counts for Photos Taken Today</h3>

        <%
        path = nil
        count = 0
        today.each do |img|
            pathWithoutFileName = img.path.reverse.partition("/").last.reverse.partition('assets/').last
            if path != pathWithoutFileName
                if !path.nil? %>
                    <p>
                        <strong>Path:</strong> <%= path %> <br>
                        <strong>Count:</strong> <%= count %>
                    </p>
                    <hr>
                <% end
                path = pathWithoutFileName
                count = 0

            end
            count += 1
        end
        if !path.nil? %>
            <p>
                <strong>Path:</strong> <%= path %> <br>
                <strong>Count:</strong> <%= count %>
            </p>
        <% end
    end %>
<% else %>
    <p class="placeholder">There are no images synced yet.</p>
<% end %>
